<mat-drawer-container>
  <mat-drawer #drawer mode="over" position="start" (click)="sidenav.toggle()">
    <mat-nav-list>
      <div *ngIf="!auth.isLoggedIn">
        <mat-list-item routerLink="/login">
          <span>Log in</span>
          <mat-icon mat-list-icon>login</mat-icon>
        </mat-list-item>
        <mat-list-item routerLink="/register">
          <span>Register</span>
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
        </mat-list-item>
      </div>
      <div *ngIf="auth.isLoggedIn">
        <mat-list-item (click)="logout()">
          <span>Logout</span>
          <mat-icon mat-list-icon>logout</mat-icon>
        </mat-list-item>
        <mat-list-item routerLink="orders">
          <span>Orders</span>
          <mat-icon mat-list-icon>format_list_bulleted</mat-icon>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
