<div class="orders-list-container mat-elevation-z8">
  <mat-toolbar-row class="table-toolbar">
    <div class="full-width" fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayoutGap="14px">
        <mat-form-field floatLabel="never">
          <mat-label>Filter by status</mat-label>
          <mat-select
            (selectionChange)="applyFilter($event.value)"
            value="none"
          >
            <mat-option value="none">-- None --</mat-option>
            <mat-option value="opened"> Opened </mat-option>
            <mat-option value="closed"> Closed </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="search-container" floatLabel="never">
          <input
            matInput
            [formControl]="searchInput"
            class="search-input"
            placeholder="Search"
          />
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center">
        <a
          fxHide
          fxShow.gt-sm
          mat-raised-button
          color="primary"
          routerLink="add"
        >
          <span>Create</span>
        </a>

        <a
          fxHide.gt-sm
          mat-raised-button
          [matMenuTriggerFor]="menu"
          aria-label="More"
          routerLink="order"
        >
          <mat-icon class="mat-icon-more-vert">more_vert</mat-icon>
        </a>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item>
            <span>Create</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
  <table mat-table [dataSource]="dataSource" class="full-width" matSort>
    <ng-container matColumnDef="orderId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order ID</th>
      <td mat-cell *matCellDef="let order">
        <span>{{ order.orderId }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let order">
        <a class="text-truncate" [routerLink]="['/orders/' + order.orderId]">{{
          order.name
        }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="client">
      <th mat-header-cell *matHeaderCellDef>Client</th>
      <td mat-cell *matCellDef="let order">
        <span class="text-truncate">{{ order.client }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let order">
        <span>{{ order.status }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let order">
        <span>{{ order.date | date: "medium" }}</span>
      </td>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let order">
        <div fxLayout="row" fxLayoutAlign="flex-end center">
          <button
            mat-icon-button
            [matMenuTriggerFor]="moreMenu"
            aria-label="More"
            (click)="$event.stopPropagation()"
          >
            <mat-icon class="mat-icon-more-vert">more_vert</mat-icon>
          </button>

          <mat-menu #moreMenu="matMenu" xPosition="before">
            <button
              [disabled]="order.status === 'closed'"
              mat-menu-item
              aria-label="edit"
              [routerLink]="['/orders/' + order.orderId]"
            >
              <span>Edit</span>
            </button>
            <button
              [disabled]="order.status === 'closed'"
              mat-menu-item
              aria-label="remove"
              (click)="openDeleteOrderDialog(order.orderId)"
            >
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="20"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10]"
  ></mat-paginator>
</div>
